<h1>Thanks for your comment!</h1>

<p>I appreciate you taking the time to add a comment. I try and respond to all comments. But I am a bit lunched out sometimes</p>

<p><a href="/page/id/[% page_id %]">&laquo; Back</a></p>
