<!--t:friend_site_ul-->
          <ul class="xoxo"> 
            <li><a href="http://ox4.org/" rel="friend co-worker met">OX4: Webhosting for Oxford Activism</a></li>
            <li><a href="http://newint.org" rel="friend co-worker met">New Internationalist</a></li>
            <li><a href="http://hacktivista.net/" rel="friend co-worker met">Hacktionlab</a></li>
            <li><a href="http://eleanorg.org" rel="friend sweetheart date met muse">Nor&#8217;s Page</a></li>
            <li><a href="http://artfulrobot.com/" rel="friend met">Rich&#8217;s page</a></li>
            <li><a href="http://oxguin.net" rel="friend met">Graham&#8217;s page</a></li>
            <li><a href="http://theoarc.org.uk/" rel="friend co-worker met">Oxford Action Resource Centre</a></li>
          </ul>
          <!--/friend_site_ul-->
