<!--t:friend_site_ul-->
<ul class="xoxo"> 
	<li><a href="http://ox4.org/" rel="friend co-worker met">OX4: Webhosting for Oxford Activism</a></li>
	<li><a href="http://newint.org" rel="friend co-worker met">New Internationalist</a></li>
	<li><a href="http://tvca.ox4.org/" rel="friend co-worker met">Thames Valley Climate Action</a></li>
	<li><a href="http://hacktivista.net/" rel="friend co-worker met">Hacktionlab</a></li>
	<li><a href="http://ox4.org/~nor" rel="friend sweetheart date met muse">Nor's Page</a></li>
	<li><a href="http://shinyblue.net/" rel="friend met">Rich's page</a></li>
	<li><a href="http://gillions.org/" rel="friend met">Graham's page</a></li>
	<li><a href="http://theoarc.org.uk/" rel="friend co-worker met">Oxford Action Resource Centre</a></li>
	<li><a href="http://www.oxfordrapecrisis.net/" rel="friend co-worker met">Oxford Sexual Abuse and Rape Crisis Centre</a></li>
</ul>
<!--/friend_site_ul-->
