<!--t:social_media_ul-->
<ul class="xoxo"> 
   <li><a href="http://twitter.com/ciderpunx" rel="me">Twitter: @ciderpunx</a></li>
   <li><a href="http://flickr.com/photos/charlie_harvey" rel="me">Flickr page</a></li>
   <li><a href="http://last.fm/user/ciderpunx" rel="me">last.fm page</a></li>
   <li><a href="http://uk.linkedin.com/in/charlieharvey">LinkedIn page</a></li> 
</ul>
<!--/social_media_ul-->
