<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="[% description %]" />
    <meta name="keywords"    content="charlie harvey, charlie, harvey, perl, html, punk, punk rock, cider, ciderpunx, direct action, boozeulator, daily mail generator, code, floss, gnu/linux, hacker, geekery" />
    <meta name="author"      content="Charlie Harvey" />
    <meta name="generator"   content="Dancer [% dancer_version %]: Minimalist perl web framework. Vim: text editor." />

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700%7CCabin:400,400italic,700,700italic%7CPT+Mono" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//static.charlieharvey.org.uk/css/solarized_dark.css" />
    <link rel="stylesheet" href="//static.charlieharvey.org.uk/css/style.css" />

    <link rel="alternate" type="application/rss+xml" title="RSS: Blog Posts"    href="/page/feed/rss" />
    <link rel="alternate" type="application/rss+xml" title="RSS: Comments"      href="/comment/feed/rss" />
    <link rel="alternate" type="application/rss+xml" title="RSS: Files"         href="/file/feed/rss" />
    <link rel="alternate" type="application/rss+xml" title="RSS: Flickr images" href="http://flickr.com/services/feeds/photos_public.gne?id=8361414@N05&amp;lang=en-us&amp;format=rss_200">

    <link rel="license copyright" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" />

    <link rel="shortcut icon" href="//static.charlieharvey.org.uk/favicon.ico" />

    <meta property="og:title"       content="[% title %]" />
    <meta property="og:type"        content="article" />
    <meta property="og:url"         content="[% request.base_uri %][% request.uri %]" />
    <meta property="og:site_name"   content="charlieharvey.org.uk" />
    <meta property="og:description" content="[% description %]" />

    <meta property="twitter:card"         content="summary" />
    <meta property="twitter:title"        content="[% title %]" />
    <meta property="twitter:domain"       content="charlieharvey.org.uk" />
    <meta property="twitter:description"  content="[% description %]" />
    <meta property="twitter:creator"      content="@ciderpunx" />
    <meta property="twitter:site"         content="@ciderpunx" />
    [% IF page && page.image_url -%]<meta property="twitter:image"        content="[% UNLESS page.image_url.match('^http://') -%]http://charlieharvey.org.uk[% END -%][% page.image_url -%]" />
    <meta property="twitter:image:src"    content="[% UNLESS page.image_url.match('^http://') -%]http://charlieharvey.org.uk[% END -%][% page.image_url -%]" />
    [% END -%]

    <meta property="dc.title"       content="[% title %]" />
    <meta property="dc.creator"     content="Charlie Harvey" />
    <meta property="dc.subject"     content="[% title %]" />
    <meta property="dc.description" content="[% description %]" />
    <meta property="dc.publisher"   content="charlieharvey.org.uk" />
    <meta property="dc.contributor" content="Charlie Harvey" />
    <meta property="dc.language"    content="en-GB" />

    <!--[if lt IE 9]><script src="//static.charlieharvey.org.uk/js/vendor/respond.min.js"></script><script src="//static.charlieharvey.org.uk/js/vendor/html5shiv-printshiv.js"></script><script src="//cdn.jsdelivr.net/jquery/1.10.2/jquery-1.10.2.min.js"></script><![endif]-->
    <!--[if gte IE 9]><!--><script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script><!--<![endif]-->

    <title>[% title %] -- Charlie Harvey</title>
  </head>

  <body>
  [% INCLUDE includes/header.tt %]

  [%- IF full_width_image %]
    <div class="visible-lg full-width-image" style="background-image:url([% full_width_image %])"></div>

    <div id="page" class="opaque-bg">
  [% ELSE %]
<div id="page">
  [% END %] 
      [%- IF success || info || errors%]
      <div id="messages">
      [% END %]
      [%- IF success %]
        <div class="alert alert-success alert-block">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p>[% success %]</p>
        </div>
      [% END %]
      [%- IF info %]
        <div class="alert alert-info alert-block">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p>[% info %]</p>
        </div>
      [% END %]
      [%- IF errors %]
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <h3>Uh-oh! I found errors</h3>
          <ul class="error no-decoration">
            [% FOR err IN errors %]
            <li>[% err %]</li>
            [% END %]
          </ul>
        </div>
      [% END %]
      [%- IF success || info || errors%]
      </div> <!--/messages-->
      [% END %]
[% content %]
</div>

[% INCLUDE includes/footer.tt %]
</body>
</html>
