/* palatte */

/*
  bright: 
		#234, #998, #edb, #feb, #bb9
	dull:	
	  #135, #aa8, #fd9, #ffa, #cb8
	also:
	  #234, #689
*/

/* Core elements */
body {margin: 0;padding: 0;font: 1.4em/1.352131 "Libre Baskerville", "URW Bookman L", Georgia, serif; color: #333}
p  {margin: 0.6em 0}
h1, h2, h3, h4, h5 {font-family: Cabin, "Dejavu Sans", Verdana, Tahoma, sans-serif;  margin: 1.2em 0 0.6em 0; color: #444}
h1 {font-size: 1.85em}
h2 {font-size: 1.65em}
h3 {font-size: 1.45em}
h4 {font-size: 1.25em}
h5 {font-size: 1em}
li {line-height: inherit}
a  {color: #468}
a:hover {color: #468; text-decoration: underline}
blockquote {border-left: 5px solid #356; margin: 1em 0; padding: 0 0 0 15px; color:#666; font-style:italic}
q {color:#666; font-style:italic;}
q:before {content: " “"}
q:after  {content: "” "}
blockquote p {font-size:inherit;line-height:inherit}
input, textarea {width: 90%;font-size:inherit}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {font-size:inherit;height:inherit;line-height:inherit}
label, input, button, select, textarea {font-size:inherit; font-family: cabin, sans-serif;line-height:inherit}
dt {font-weight:normal;padding-bottom:0.2em;padding-top:0.5em;}
ol li {margin-top:1em}

/* Classes */
.rightfloat {float:right}
.leftfloat {float:left}
.rightalign {text-align:right}
.bordered { border:1px solid #135; margin:1em; box-shadow: 2px 8px 12px -6px #689}
.no-side-margin-bordered { border:1px solid #135; margin: 1em 0; box-shadow: 2px 8px 12px -6px #689}
.top-bordered { border-top:1px dashed #689}
.right-rotated { transform: rotate(5deg)}
.left-rotated { transform: rotate(-5deg)}
.col4 {word-wrap:break-word; -moz-column-count: 4; -webkit-column-count: 4; -column-count: 4; -moz-column-gap: 0.2%; -webkit-column-gap: 0.2%; column-gap: 0.2%; -moz-column-rule: 1px solid #ccc; -webkit-column-rule: 1px solid #ccc; column-rule: 1px solid #ccc; padding: 5px}

.quarter {width:25%}
.third  {width:33%}
.centre {text-align:center}
.tinytext {font-size:0.75em}
.clear {clear:both}
.unstyled-list,.no-decoration {list-style-type:none;margin:0;padding:0}
.horizontal-list, .horizontal-list li {display: inline; list-style-type: none}
.flick-pic {background-color: #111; line-height:280px; margin:0.2em; min-width: 280px; height: 280px; text-align:center}
.flick-pic img {vertical-align:middle}

.alert {padding-left:2.2em}
.alert .close {font-size:2em}

.titlebar {background: url("/img/dotorg-2011-topbar.jpg") no-repeat scroll center top #0A2637; background-size:contain; color: #CCCCCC; height: 205px; padding-top: 15px; position: relative; text-align: center; line-height:0; font-size:0px; margin-top:50px}
.titlebar h1 a {height: 111px; left: 50%; margin-left: -475px; position: absolute; text-decoration: underline; top: 27px; width: 950px}

.navbar {font-family: cabin, sans-serif; background-color: #0a2637; background-image: linear-gradient(to bottom,  #134, #0a2637); background-repeat: repeat-x}
.navbar .container {width:inherit}
.navbar-inverse .navbar-inner {background-color: #0a2637; max-width:950px; margin:auto; background:none; border:0}
.navbar-inverse .nav > li > a {color:#feb}
.navbar-inverse .btn-navbar {background-image: linear-gradient(to bottom, #356, #578)}
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar:hover {background-image: linear-gradient(to bottom, #578, #79a); background-color:#578}
.navbar-inverse .nav-collapse .nav > li > a, 
.navbar-inverse .nav-collapse .dropdown-menu a {background:transparent}
.navbar-inverse .nav-collapse .dropdown-menu a:focus, 
.navbar-inverse .nav-collapse .nav > li > a:focus, 
.navbar-inverse .nav-collapse .nav > li > a:hover, 
.navbar-inverse .nav-collapse .dropdown-menu a:hover {color:#feb; background-color:#356}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, 
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle, 
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {color:#feb; background-color:#356}

.hero-unit {font:inherit; line-height:inherit; background-color: rgba(255, 238, 187, 0.6);box-shadow: 4px 4px 43px -24px #689;padding:1px 60px 60px}
.hero-unit h1 {font-size:2.25em; line-height:inherit}

.btn-primary,.btn-dark {font-family: cabin, dejavu sans, verdana, tahoma, sans-serif;background-color: #023; background-image: linear-gradient(to bottom, #356, #023); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: #feb; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:disabled, 
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:disabled {background-color: #023;color:#feb}

.taggedlink {background: url("/img/tag.png") no-repeat scroll left top transparent; padding-left: 17px; padding-right: 7px}

.breadcrumbs, .breadcrumbs li {margin:0;padding:0}
.breadcrumbs li {margin-left:-0.2em}

.carousel-caption {background: none repeat scroll 0 0 rgba(10, 38, 55, 0.9)}
.carousel-caption a {color:#aa8; text-decoration:underline;}

.hfeed {margin-top:1em;}
.hentry {margin-top:3em}
.hentry ul {text-align:right;}
.hreview blockquote, .hreview q {border-left: none; margin: 0; padding: 0; color:inherit; font-style:inherit; font-size:inherit; font-weight:inherit; line-height:inherit}

.comment q{display:block; margin-top:1em; margin-bottom:0.6em}
.cmt-bdy q, .cmt-bdy blockquote {border-left: 5px solid #356; margin: 1em 0; padding: 0 0 0 15px; color:#666; font-style:italic}

.drop-cap > p:first-of-type:first-letter {display: block; float: left; font-size: 3.15em; font-style: normal; font-weight: 700; line-height: 0.67em; margin: 0 0.1em 0 0.02em}

.required {background: url("/img/required.png") no-repeat scroll left center transparent; font-weight:bold; padding-left: 17px; padding-right: 7px}

.st-result em {background: none repeat scroll 0 0 #224455; color: #FFEEBB; padding: 3px}

.img200ctr {display:block; width:200px; margin: auto}

.what-next {border-top:5px solid #134}



/* ID elements */
#search {margin: 0; padding-top: 10px; padding-bottom: 10px}
#search .box {margin: 0}
#search input {margin: 2px}
#st-search-input {height:16px; width:180px; margin-left:5em}
#search #go {background-color: #356; background-image: linear-gradient(to bottom, #356, #245); border: 1px solid #023; border-radius: 5px; color: #FEB; cursor: pointer; font-size: 0.8em; padding: 3px; margin:0}
#search #go:hover {background-image: linear-gradient(to bottom, #356, #134); box-shadow: 0 1px 1px rgba(82, 168, 236 , 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6)}
#search-text {width: 170px}

#page {max-width:930px;margin:auto;padding-top:1em}
#page ul {margin: 0 0 10px -0.55em}
#page li {padding-left: 0.5em;padding-right:0.2em}

#navtree ul {margin: 0 0 10px 0.95em}

#messages {margin-top:1.7em}
#messages h2,
#messages p {margin-top: 0.3em;}

#content {padding-top:1.8em}

#footer {font: 0.65em/1.48 cabin,  dejavu sans, verdana, tahoma, sans-serif; background-color:#023; background-image: linear-gradient(to bottom, #023, #112); color: #feb; padding:0; margin:2.5em 0 0; text-align:left}
#footer h3, #footer a {color:#feb}
#footer .row li ,
#footer .row ul {list-style-type: none;padding:0;padding-right:10px;margin:0;margin-bottom:0.6em}
#footer .xoxo {margin-left: -0.009em}
#footer .quarter {width:23%; min-width:180px; margin: 1em}
#footer .row {margin-left:0}

#footwrap {max-width:950px;margin:auto} 

#daily-mail {padding:1em; padding-right: 2.2em; min-height: 640px; width: 85%; margin:auto}

/* @media rules */
@media (max-width: 979px) {
	body{font-size:1.1em}
	.titlebar {margin-top:0}
	.navbar-inverse .nav-collapse .nav > li > a, 
	.navbar-inverse .nav-collapse .dropdown-menu a {color:#feb}
}
@media (max-width: 768px) {
	.titlebar {height:150px}
  .titlebar h1 a {height:85px;top:20px}
	#footer .quarter {float:none;width:100%}
	#footer .row li, 
	#footer .row ul {padding:0;font-size:1.1em}
	#footer .xoxo {margin-left:55px}
}
@media (max-width: 600px) {
	body{font-size:0.75em}
	.titlebar {height:115px}
  .titlebar h1 a {height:55px;top:10px}
}
@media (max-width: 360px) {
	.titlebar {height:75px}
  .titlebar h1 a {height:35px}
	.col4 {-moz-column-count: 2; -webkit-column-count: 2; -column-count: 2;  padding: 5px}
}
