[% IF page %]
<!--t:page/article-->
	<article id="[% page.slug %]" class="entry-content drop-cap">
		<header>
				<h1>[% page.title %]</h1>
				<a class="hidden" rel="bookmark" href="[% own_url %]">Permalink</a>
		</header>
	[% page.body %]	
	[% INCLUDE page/tweet.tt %]
	</article>
[% ELSE %]
	<article>
		<header>
				<h1>OMG! You asked for a page that doesn&#8217;t exist. Or I fucked up some code.</h1>
		</header>
	</article>
<!--/page/article-->
[% END %]
