<!--t:comment-->
<section>
<p><a id="comments" href="#"></a><br /></p>
<h3>Comments</h3>

[% INCLUDE comment/form.tt %]

[% IF page.comments.size %]
<ul>
  [% FOREACH comment IN page.comments %]
  <li class="unstyled-list hreview hentry comment top-bordered">
    [% INCLUDE comment/view.tt %]
  </li>
  [% END %] 
</ul>
[% END %]
</section>
<!--/comment-->
