<!--t:page/root-new-->

[% INCLUDE page/article.tt %]

[% IF page.children %]
  <ul class="hfeed unstyled-list">
  [% FOREACH child IN recent_children %]
    [% INCLUDE page/article_summary.tt %]
  [% END %]
  </ul>
[% END %]

[% IF recent_children.size > 9 %]
<p class="centre">
  <a href="[% own_url %]/archive/2" class="btn btn-dark btn-lg">More articles &raquo;</a>
</p>
[% END %]


[% INCLUDE page/comment.tt %]

[% INCLUDE page/tags.tt %]

[% INCLUDE page/tweet.tt %]
<!--/page/root-->
