<!--t:tags-->
	[% IF page.tags %]
	<ul class="horizontal-list no-decoration xoxo">
		[% FOREACH tag IN page.tags %]
			<li class="xfolkentry">
				<a rel="tag bookmark" class="taggedlink" href="/tag/[% tag.title | uri %]">[% tag.title %]</a>
			</li>
		[% END %]
	</ul>
	[% END %]
<!--/tags-->
